<!DOCTYPE html>
<html lang="en" data-theme="cerberus">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>Envoy Project Management</title>

  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

  <!-- Favicons -->
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="manifest" href="/favicon/site.webmanifest">

  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.svelte`])
  @inertiaHead()
  @stack('dumper')
</head>

<body class="min-h-screen w-screen font-sans">
  @inertia()
</body>

</html>